<%= @candy.title %>
<img class="candy-image" src="<%= @candy.image %>"/>
<p><%= @candy.description %></p>
<p><%= @candy.to_dollars %></p>
<p><%= @candy.status %></p>
<p><%= link_to "Back to Candies", "/admin/candies" %></p>
<div id="<%= @candy.id %>" class="center-align"><%= button_to "Edit", "/admin/candies#{@candy.id}/edit", method: :get, class: "btn btn-success red" %></div>
