<%= @candy.title %>
<img class="candy-image" src="<%= @candy.image %>"/>
<p><%= link_to "Back to Candies", admin_candies_path %></p>
<p><%= @candy.description %></p>
<p><%= @candy.to_dollars %></p>
<p><%= @candy.status %></p>
