<% @candies.each do |candy| %>
<div class="well well-md">
  <h5><%= candy.title %> </h5>
  <p> <%= candy.description %> </p>
  <p><%= candy.price %></p>
  <img src="<%= candy.image %>" />
  <p><div id="<%= candy.id %>"><%= button_to "Add to Cart", carts_path(candy_id: candy.id), class: "btn btn-success" %></div></p>
</div>
<% end %>
