<div class="col s3">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" <%= image_tag candy.image %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= candy.title %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= candy.to_dollars %><i class="material-icons right">close</i></span>
      <p><%= candy.description %></p>
      <p><%= link_to "Rating: #{candy.average_rating}", new_review_path(candy_id: candy.id) %></p>
      <p><%= link_to "More Info", candy_path(candy.id) %></p>
    </div>
  </div>
  <% if candy.status == "retired" %>
    <div class="center-align">No Longer Available</div>
  <% elsif candy.status == "Out of Stock" %>
    <div class="center-align">Not in Stock</div>
  <% else %>
    <div id="<%= candy.id %>" class="center-align"><%= button_to "Add to Cart", carts_path(candy_id: candy.id), class: "btn btn-success red" %></div>
  <% end %>
</div>
