<div class="header primary-header red lighten-3">
  <% flash.each do |type, message| %>
    <%= content_tag :div, message %>
  <% end %>

  <header class='primary-header center-align'>

  <%= link_to "View Cart", cart_path %> Total items: <%= @cart.total %>

  <% if current_user %>
    <%= link_to "Logout", root_path %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>

    <h1 class="title123">Custo Candy Co.</h1>
  </header>

  <%= render "partials/nav" %>

</div>
