<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Create your Candy", "/custom_candies/new" %></li>
        <li><%= link_to "Candy", "/candies" %></li>
        <li><%= link_to "Candy Categories", "/categories" %></li>
        <div class="right nav-bar-padding">
      <% if current_user %>
        <li><%= link_to "Logout", "/logout", method: :delete %></li>
        <li><%= link_to "Orders", "/orders" %></li>
      <% else %>
        <li><%= link_to "Login", "/login" %></li>
        <li><%= link_to "Create Account", "/register" %></li>
      <% end %>
        <li><%= link_to "View Cart", "/cart" %></li>
        <li>Total items: <%= @cart.total %></li>
        <li></li>
      </div>
    </ul>
  </div>
</nav>
