<nav class="nav primary-nav">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Create your Candy", new_custom_candy_path %></li>
    <li><%= link_to "Candy", candies_path %></li>
    <li><%= link_to "Candy Categories", categories_path %></li>


      <% if current_user %>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <li><%= link_to "Orders", orders_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Create Account",register_path %></li>
      <% end %>
  </ul>
</nav>
