<h2>Order Status: <%= @order.status %></h2>
  <% @candy_orders.each do |candy_order| %>
    <p>Item: <%= link_to  "#{candy_order.candy_title(candy_order.candy_id)}", candy_path(candy_order.candy_id) %>, Quantity: <%= candy_order.quantity %>, Subtotal: <%= candy_order.to_dollars %>, Status: <%= candy_order.candy_status(candy_order.candy_id) %></p>
  <% end %>

  <h3>Total order price: <%= @order.total_to_dollars %></h3>
  <h3>Ordered at: <%= @order.format_date %></h3>
