<h2>Order Status: <%= @order.status %></h2>

  <table class="striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Current Candy Status</th>
      </tr>
    </thead>
    <tbody>
      <% @candy_orders.each do |candy_order| %>
        <tr>
          <td><%= link_to  "#{candy_order.candy_title}", candy_path(candy_order.candy_id) %></td>
          <td><%= candy_order.quantity %></td>
          <td><%= candy_order.to_dollars %></td>
          <td><%= candy_order.candy_status %></td>
        </tr>
      <% end %>
      <% @order.custom_candies.each do |custom_candy| %>
        <tr>
          <td><%= link_to "#{custom_candy.title}", custom_candy_path(custom_candy.id)  %></td>
          <td><%= "#{custom_candy.quantity}" %></td>
          <td><%= "#{custom_candy.to_dollars}" %></td>
          <td></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <h3>Total order price: <%= @order.total_to_dollars %></h3>
  <h3>Ordered on: <%= @order.format_date %></h3>
