<div>
  <% unless @cart.contents.empty? %>

  <table class="highlight">
    <thead>
     <tr>
       <th><strong>Remove</strong></th>
       <th><strong>Candy</strong></th>
       <th><strong>Price</strong></th>
       <th><strong>Quantity</strong></th>
     </tr>
    </thead>
    <tbody>
    <% @candies.each do |candy, quantity| %>
      <tr>
        <td><%= link_to "Remove" %></td>
        <td><%= candy.title %></td>
        <td><%= candy.price %></td>
        <td><%= quantity %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <h4>Total Price: <%= @cart.total_cost %></h4>
    <% else %>
      <h2>You have no items in your cart</h2>
    <% end %>
</div>
