<h3>Review this Candy</h3>
<%= form_for([@candy, @rating], url: reviews_path(@candy.id)) do |f| %>
<%= f.hidden_field :candy_id %>
<%= f.label :rating %>
<%= f.select :rating, [['5', '5'],
                       ['4', '4'],
                       ['3', '3'],
                       ['2', '2'],
                       ['1', '1']] %>

<%= f.label :review %>
<%= f.text_field :review %>
<%= f.submit "Submit" %>
<% end %>
